<div style="display:none !important">
<% if params[:keywords] %>

  <div data-hook="search_results">
    <% if @products.empty? %>
      <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
    <% else %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>
<% else %>
  <div data-hook="homepage_products">
    <% cache(cache_key_for_products) do %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>
<% end %>

<!--
<%= form_tag empty_cart_path, :id => "empty_cart_form", :method => :put do %>
<%= button_tag :id => 'empty-cart-button' do %> <%= t(:empty_cart) %> <% end %>
<% end %>
-->
</div>

<div style="background: yellow;">
  <p>Test</p>
</div>