

<div class="banner">
    <ul>
        <li><%= link_to (image_tag "slider7.jpg", :width => "100%"), root_path %></li>
        <li><%= link_to (image_tag "slider7.jpg", :width => "1600px"), root_path %></li>
        <li><%= link_to (image_tag "slider7.jpg", :width => "1600px"), root_path %></li>
    </ul>
</div>

<h2 style="margin-top:2%;">Our newest Products</h2>

<div class="clearfix" style="text-align:center;width:100%;">

	<div style="float:left;width:23%;margin-right:1%;height:280px"><%= @spee %></div>
	<div style="float:left;width:23%;margin-left:2%;margin-right:1%;height:280px"><%= @spee2 %></div>
	<div style="float:left;width:22%;margin-left:2%;margin-right:2%;height:280px"><%= @spee %></div>
	<div style="float:left;width:23%;margin-left:1%;height:280px;"><%= @spee2 %></div>

</div>


<script>
$(function() {
    $('.banner').unslider();
});
</script>