




<div class="banner">
    <ul>
        <li><%= link_to (image_tag "slider7.jpg", :width => "100%"), root_path %></li>
        <li><%= link_to (image_tag "slider7.jpg", :width => "1600px"), root_path %></li>
        <li><%= link_to (image_tag "slider7.jpg", :width => "1600px"), root_path %></li>
    </ul>
</div>

<div style="width:100%;height:40px;"></div>
<h2 style="background:#00adee;color:#fff;display:inline;text-align:center;padding:.5% 2%;border:1px solid #fff;">Sale Items</h2>
<div style="width:100%;height:20px;"></div>

<div id="special_sale" class="clearfix" style="width: 100%;">
  <% @products.where(special: true).each do |e| %>
    <div style="float:left;width:25%;text-align:center;">
        <div style="margin-bottom:20px;font-weight:bold;"><%= link_to e.short_description, e, class: 'threex3' %></div>
        <div style="margin-bottom:20px;" class="home_images"><%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + e.image_name + '.jpg'), e %></div>
        <div style="color:#00adee;font-weight:bold;font-size:16px;">€<%= e.price %></div>
        <div style="width:100%;height:50px;"></div>
    </div>
  <% end %>
</div>



<div style="width:100%;height:40px;"></div>
<h2 style="background:#00adee;color:#fff;display:inline;text-align:center;padding:.5% 2%;">Featured Products</h2>
<div style="width:100%;height:20px;"></div>

<div id="featured" class="clearfix" style="width: 100%;">
  <% @products.where(featured: true).each do |e| %>
    <div style="float:left;width:25%;text-align:center;">
        <div style="margin-bottom:20px;font-weight:bold;"><%= link_to e.short_description, e, class: 'threex3' %></div>
        <div style="margin-bottom:20px;" class="home_images"><%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + e.image_name + '.jpg'), e %></div>
        <div style="margin-bottom:20px;color:#00adee;font-weight:bold;font-size:16px;">€<%= e.price %></div>
        <div style="width:100%;height:50px;"></div>
    </div>
  <% end %>
</div>



<div style="width:100%;height:40px;"></div>
<h2 style="background:#00adee;color:#fff;display:inline;text-align:center;padding:.5% 2%;">Latest Products</h2>
<div style="width:100%;height:20px;"></div>

<div id="latest" class="clearfix" style="width: 100%;">
  <% @products.where(latest: true).each do |e| %>
    <div style="float:left;width:25%;text-align:center;">
        <div style="margin-bottom:20px;font-weight:bold;"><%= link_to e.short_description, e, class: 'threex3' %></div>
        <div style="margin-bottom:20px;" class="home_images"><%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + e.image_name + '.jpg'), e %></div>
        <div style="margin-bottom:20px;color:#00adee;font-weight:bold;font-size:16px;">€<%= e.price %></div>
        <div style="width:100%;height:50px;"></div>
    </div>
  <% end %>
</div>




<script>
$(function() {
    $('.banner').unslider();
});
</script>